<!-- Admin view/publishers -->
<div class="container-fluid text-left" style="background: white" ng-controller="bookLoanController">
	<h1 class="cover-heading text-dark">Book Loans</h1>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
		      <th scope="col">#</th>
		      <th scope="col">Book Name</th>
		      <th scope="col">Branch Name</th>
		      <th scope="col">Loaned to</th>
		      <th scope="col">Date taken out</th>
		      <th scope="col">Date to return</th>
		      <th scope="col">Change date to return</th>
		      <th scope="col">Date returned</th>
		      <th scope="col">Delete</th>
		    </tr>
		</thead>
		<tbody class="text-dark">
			<tr ng-repeat="bookLoan in adminBookLoans">
				<td>{{$index+1}}</td>
				<td>{{bookLoan.book.title}}</td>
				<td>{{bookLoan.branch.branchName}}</td>
				<td>{{bookLoan.borrower.name}}</td>
				<td>{{bookLoan.dateOut | date : "medium"}}</td>
				<td>{{bookLoan.dueDate | date : "medium"}}</td>
				<td>
					<button type="button" class="btn btn-info"
						data-toggle="modal" data-target="#editBookLoanModal"
						ng-click="editBookLoanModal(bookLoan)">
						<i class="fa fa-pencil" aria-hidden="true"></i></button></td>
				</td>
				<td>{{bookLoan.dateIn | date : "medium"}}</td>
				<td><button type="button" class="btn btn-danger"
						ng-click="deleteBookLoan(bookLoan)">
						<i class="fa fa-remove"></i></button></td>
			</tr>
		</tbody>
	</table>
	
	<div class="modal fade text-dark" id="editBookLoanModal" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Change book due Date</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label class="col-form-label">Old Due Date: </label>
							<label class="col-form-label font-weight-bold">{{bookLoan.dueDate | date : "medium"}}</label>
						</div>
						<div class="form-group">
							<label for id="new-due-date" class="col-form-label">New Due Date</label>
							<input class="form-control" type="date"
								id="new-due-date"
								ng-model="newDate"
								ng-change="selectDate(newDate)"
								value="2017-11-12">
							<br/><br/>
							<label for id="new-due-time" class="col-form-label">New Due Time(enter as hh:mm AM/PM)</label>
							<input class="form-control" type="time"
								id="new-due-time"
								ng-model="newTime"
								ng-change="selectTime(newTime)"
								value="13:45:00">
							<br/><br/>
						</div>
          			</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" ng-click="resetBookLoan()">Close</button>
					<button type="button" class="btn btn-success"
						ng-click="updateBookLoan(bookLoan)" data-dismiss="modal">Save changes</button>
				</div>
			</div>
		</div>	
	</div>
</div>