<!-- Admin view -->
<h1 class="cover-heading">Hi, Admin</h1>
 <p class="lead">Pick a role</p>
 
 <div class="container-fluid">
 	<div class="row">
 		<div class="col-sm-4">
			<div class="card text-center text-dark bg-light mb-3">
				  <div class="card-header">Publishers</div>
		      <div class="card-body">
		        <p class="card-text">Manage creation/deletion/editing of publishers.</p>
		        <a href="#/admin/publishers" class="btn btn-primary">Go</a>
		      </div>
		    </div>
	    </div>
 		<div class="col-sm-4">
 			<div class="card text-center text-dark bg-light mb-3">
 			  <div class="card-header">Authors</div>
		      <div class="card-body">
		        <p class="card-text">Manage creation/deletion/editing of authors.</p>
		        <a href="#/admin/authors" class="btn btn-primary">Go</a>
		      </div>
		    </div>
 		</div>
 		<div class="col-sm-4">
 			<div class="card text-center text-dark bg-light mb-3">
 			  <div class="card-header">Books</div>
		      <div class="card-body">
		        <p class="card-text">Manage creation/deletion/editing of books.</p>
		        <a href="#/admin/books" class="btn btn-primary">Go</a>
		      </div>
		    </div>
 		</div>
 		<div class="col-sm-4">
 			<div class="card text-center text-dark bg-light mb-3">
 			  <div class="card-header">Branches</div>
		      <div class="card-body">
		        <p class="card-text">Manage creation/deletion/editing of library branches.</p>
		        <a href="#/admin/branches" class="btn btn-primary">Go</a>
		      </div>
		    </div>
 		</div>
 		<div class="col-sm-4">
 			<div class="card text-center text-dark bg-light mb-3">
 			  <div class="card-header">Genres</div>
		      <div class="card-body">
		        <p class="card-text">Manage creation/deletion/editing of genres.</p>
		        <a href="#/admin/genres" class="btn btn-primary">Go</a>
		      </div>
		    </div>
 		</div>
 		<div class="col-sm-4">
 			<div class="card text-center text-dark bg-light mb-3">
 			  <div class="card-header">Book Loans</div>
		      <div class="card-body">
		        <p class="card-text">Manage editing of bookLoans.</p>
		        <a href="#/admin/bookLoans" class="btn btn-primary">Go</a>
		      </div>
		    </div>
 		</div>
 	</div>
 </div>